@import url("colors.css");

* {
	font-family: "JetBrainsMono Nerd Font", sans-serif;
	font-size: 14px;
	color: @color2;
	background: @color0;
	border: none;
}

#custom-media,
#pulseaudio,
#tray,
#clock,
#custom-power,
#mpris {
	padding: 0 10px;
	margin: 3px 3px;
}

#workspaces button {
	all: unset;
	border: none;
	padding: 0 10px;
	margin: 0 4px;
	font-family: "JetBrainsMono Nerd Font", sans-serif;
}


#workspaces button:hover {
	border-radius: 0 0 0 0;
	border-bottom: 2px solid @color2;
}


#workspaces button.active {
	border-radius: 0 0 0 0;
	border-bottom: 2px solid @color2;
	font-weight: bold;
}
