@import url("colors.css");

* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 20px;
  color: @color2;
  background: @color0;
  border: none;
}

#custom-dexcom,
#network,
#backlight,
#pulseaudio,
#battery,
#clock,
#custom-power {
  padding: 0 10px;
  margin: 5px 5px;
    
}

#workspaces button {
	all: unset;
	border: none;
	padding: 0 10px;
	margin: 0 4px;
	font-family: "JetBrainsMono Nerd Font", sans-serif;
}


#workspaces button:hover {
	border-radius: 0 0 0 0;
	border-bottom: 4px solid @color2;
}


#workspaces button.active {
	border-radius: 0 0 0 0;
	border-bottom: 4px solid @color2;
	font-weight: bold;
}
